/* Select all elements */
:root {
  --orange: rgba(251, 158, 7, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(40, 40, 43, 1);
}

body {
}

/* webiste colors: 
#FB9E07 (orange)
*/

/* container styling */
@media screen and (min-width: 2560px) {
  .logo {
    margin-left: 400px;
  }
}
/* 







 */

/* nav bar styling */
nav {
  /* background-color: rgba(40, 40, 43, 0.03); */
  background-color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  z-index: 100;

  /* background-color: rgba(255, 209, 0, 1); */
  /* background-color: #ffc266; */
}
nav ul {
  height: 100px;
}
nav ul li {
  display: inline-block;
  vertical-align: middle;
}
nav ul li a {
}

nav ul li a img {
  height: 100px;
  width: 100px;
  margin-left: 200px;
}

nav ul li input {
  margin-left: 100px;
  height: 40px;
  width: 500px;
  border: none;
  font: 16px;
}
.searchbtn {
  background: var(--orange);
  padding: 8px;
  color: rgba(40, 40, 43, 1);
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.btngrp {
  margin-left: 300px;
}
.btn {
  border: none;
  color: rgba(40, 40, 43, 1);
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.searchbox {
  padding-left: 8px;
  border-style: groove;
  border-color: rgba(40, 40, 43, 0.8);
}

.fbbtn_container {
  padding-left: 300px;
}

.fbbtn {
  width: 50px;
  height: 50px;
  border-style: none;
  cursor: pointer;
}

/* 








 */

/* Selection bar styling */

.selection-bar-container {
  /* position: sticky;
  top: 1;
  z-index: 100; */
}
.selection-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 200px;
  background-color: rgba(255, 255, 255, 1);
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 550px;
}
.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: rgba(40, 40, 43, 1);
  background-color: rgba(251, 158, 7, 0.5);
  border: solid;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  width: 550px;
  display: none;
  /* background-color: white; */
}

.dropdown-item-container {
  width: 550px;
}
.dropdown-item {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: rgba(40, 40, 43, 1);
  background-color: rgba(251, 158, 7, 1);
  border: solid;
  /* background-color: rgba(255, 255, 255, 1); */
}

div ul li a:hover {
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(251, 158, 7, 0.5); */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* problem is that the text in the dropdown-item is resizing the dropdown-item-container and the dropdown-content */

/* 







 */

/* Hero image styling */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images//man_with_laptop.jpg');
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

/* image sourced from https://as1.ftcdn.net/v2/jpg/03/06/87/24/1000_F_306872403_amgclQumrlPvFyIpOoNV3bW8lZQUGy8g.jpg  */

.hero-search-bar-and-text {
  margin: 250px;
  position: absolute;
}

.hero-text {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
}

.hero-search-bar {
}

#hero-search-bar {
  width: 400px;
  height: 40px;
}

/* 







 */

/* Popular services styling */

.popular-services-heading {
  font-size: 45px;
  margin-top: 20px;
}

.popular-services-container {
  margin-left: 125px;
  /* display: block; */
  width: max-content;
  /* overflow: auto; */
  /* white-space: nowrap; */
}

.popular-service-div {
  display: inline-block;
  position: relative;
  border: solid;
  margin-top: 20px;
}

.popular-service-img {
  width: 300px;
  height: 300px;
  margin: 125px;
  max-width: 100%;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
}

.popular-service-div:hover .text-overlay {
  background-color: rgba(251, 158, 7, 0.5);
}

/* Freelancer Selection Styling */

.web-heading {
  font-size: 30px;
  margin-left: 200px;
  margin-top: 50px;
}

.selection-dropdowns-container {
  margin-left: 200px;
  margin-top: 50px;
}

.location-select {
  display: inline-block;
}

.time-frame-select {
  display: inline-block;
  margin-left: 25px;
}

/* Image Gallery Styling */

.image-gallery-container {
  margin-left: 140px;
}

.freelancer-photo-container {
  display: inline-block;
  margin: 60px;
}

.freelancer-photo {
  width: 250px;
  height: 250px;
}
